<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome email</title>
    <style type="text/css">
      table {
        border-spacing: 0;
      }
      td {
        padding: 0;
      }
      img {
        border: 0;
      }
    </style>
  </head>
  <body style="margin: 0; background-color: #fff; color: rgba(0, 16, 40, 0.9)">
    <center style="width: 100%; table-layout: fixed; background-color: #fff">
      <table
        style="
          background-color: rgba(255, 186, 0, 0.05);
          margin: 0 auto;
          width: 100%;
          max-width: 600px;
          border-spacing: 0;
          margin-top: 1rem;
          margin-bottom: 1rem;
        "
      >
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    text-align: center;
                    padding: 3.5rem 0rem;
                    padding-bottom: 1.5rem;
                  "
                >
                  <img
                    style="display: block; margin: auto; margin-bottom: 2rem"
                    src="https://vstreem-images.s3.us-east-2.amazonaws.com/email-template-images/vestreem_logo.png"
                    alt="vstreem"
                    title="vstreem"
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 0rem 2rem;
                  "
                >
                  <p style="margin: 0.5rem 0rem">Dear ${userMail}</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 1rem 2rem;
                  "
                >
                  <p>
                    Please confirm your email address by clicking the button
                    below. This confirms that your email address is correct so
                    that we can use it to help you recover your password in the
                    future.
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 400;
                    padding: 0rem 2rem;
                  "
                >
                  <a style="font-size: 16px" href="${regisrationLink}">
                    <button
                      style="
                        background-color: #1478ff;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: center;
                        border-radius: 32px;
                        outline: none !important;
                        border: none;
                        margin-bottom: 1rem;
                        padding: 0.5rem 2.5rem;
                        cursor: pointer;
                      "
                    >
                      Confirm Email Address
                    </button>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td style="padding: 0 3rem">
                  <hr style="border: 1px solid rgba(0, 16, 40, 0.2)" />
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(20, 120, 255, 1);
                    padding: 0rem 2rem;
                  "
                >
                  <p>
                    <a
                      href="${regisrationLink}"
                      style="
                        color: rgba(20, 120, 255, 1);
                        text-decoration: none;
                      "
                      >${regisrationLink}</a
                    >
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table style="width: 100%; padding: 1rem">
              <tr>
                <td style="padding: 1rem">
                  <div>
                    <p>Thanks,</p>
                    <p>Vstreem Team</p>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td style="padding: 0 3rem">
                  <hr style="border: 1px solid rgba(0, 16, 40, 0.2)" />
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="font-size: 24px; font-weight: 500; text-align: center"
                >
                  <p>Follow Us</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="text-align: center; padding: 25px 0; padding-top: 0rem"
                >
                  <a
                    style="text-decoration: none; margin: 0.5rem 0.5rem"
                    target="_blank"
                    href="https://www.facebook.com/vstreemservices"
                    class="facebook"
                  >
                    <img
                      style="width: 35px"
                      src="https://vstreem-images.s3.us-east-2.amazonaws.com/social-media/facebook.png"
                      alt="facebook"
                    />
                  </a>

                  <a
                    style="text-decoration: none; margin: 0.5rem 0.5rem"
                    target="_blank"
                    href="https://www.linkedin.com/company/vstreem"
                    class="linkedin"
                  >
                    <img
                      style="width: 35px"
                      src="https://vstreem-images.s3.us-east-2.amazonaws.com/social-media/linkedin.png"
                      alt="linkedin"
                    />
                  </a>

                  <a
                    style="text-decoration: none; margin: 0.5rem 0.5rem"
                    target="_blank"
                    href="https://www.instagram.com/vstreemservices/"
                    class="instagram"
                  >
                    <img
                      style="width: 35px"
                      src="https://vstreem-images.s3.us-east-2.amazonaws.com/social-media/instagram.png"
                      alt="instagram"
                    />
                  </a>

                  <a
                    style="text-decoration: none; margin: 0.5rem 0.5rem"
                    target="_blank"
                    href="https://twitter.com/vstreemservices"
                    class="twitter"
                  >
                    <img
                      style="width: 35px"
                      src="https://vstreem-images.s3.us-east-2.amazonaws.com/social-media/twitter.png"
                      alt="twitter"
                    />
                  </a>

                  <a
                    style="text-decoration: none; margin: 0.5rem 0.5rem"
                    target="_blank"
                    href="https://www.youtube.com/channel/UC4XED_p8294oseSWdvGlCkQ/featured"
                    class="youtube"
                  >
                    <img
                      style="width: 35px"
                      src="https://vstreem-images.s3.us-east-2.amazonaws.com/social-media/youtube.png"
                      alt="youtube"
                    />
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(20, 120, 255, 1);
                    padding: 0rem 2rem;
                  "
                >
                  <p style="margin-top: 0">
                    <a
                      href="#"
                      style="
                        color: rgba(20, 120, 255, 1);
                        text-decoration: none;
                      "
                      >To know more & understand our plans & features? Compare
                      plan options →</a
                    >
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    text-align: center;
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 0rem 2rem;
                  "
                >
                  <p>™️vstrEEm. All rights reserved.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="width: 100%">
              <tr>
                <td
                  style="
                    text-align: center;
                    padding-top: 1.5rem;
                    padding-bottom: 2.5rem;
                  "
                >
                  <a
                    href="#"
                    style="
                      color: rgba(0, 16, 40, 0.8);
                      font-size: 16px;
                      font-weight: 500;
                      text-decoration: none;
                      margin: 0rem 0.7rem;
                    "
                    >Terms</a
                  >

                  <a
                    href="#"
                    style="
                      color: rgba(0, 16, 40, 0.8);
                      font-size: 16px;
                      font-weight: 500;
                      text-decoration: none;
                      margin: 0rem 0.7rem;
                    "
                    >Privacy</a
                  >

                  <a
                    href="#"
                    style="
                      color: rgba(0, 16, 40, 0.8);
                      font-size: 16px;
                      font-weight: 500;
                      text-decoration: none;
                      margin: 0rem 0.7rem;
                    "
                    >Unsubscribe</a
                  >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
